services:
  backend:
    container_name: backend
    build:
      context: ./back
    ports:
      - "3000:3000"

  frontend:
    container_name: frontend
    build:
      context: ./front
    ports:
      - "80:80"
    depends_on:
      - backend

